.App {
  width: 1200px;
  margin: 0 auto;
  background-color: #323032;
  text-align: center;
  padding: 30px;
  position: relative;
}

.App h1 {
  text-transform: uppercase;
  color: #44c0b6;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 35px;
}

.empty {
  color: #cf972e;
  font-size: 20px;
  text-transform: capitalize;
}